.body {
    background-image: url(bcg.jpg);
    font-family:"open sans",sans-serif;
     }

.container{
        text-align: left;
        width: 100%;
        padding: 20px 40px;
        box-sizing: border-box;
        margin-left: 100px;
        position: relative;
              }
.title {
    top: 80px;
    padding: 20px 40px;
    font-size: 20px;
    font-style:arial;
    text-transform: uppercase;
    letter-spacing: 1px; 
    text-align: left;
    margin-left: 100px;
    margin-top: 15px;
    font-weight: 1000;
    font-style: arial;
      }
.btn{
        background: white;
        height: 60%;
        text-align: center;
        text-transform: lowercase;
        font-weight: bold;
        letter-spacing: 1px;
           }
